<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Biblioteca Tolkien</title>
        <link rel="icon" type="image/x-icon" href="assets/img/icon/logo.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Biblioteca Tolkien</a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item 1"><a class="nav-link" href="..\login\index.html">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="assets/img/icon/logo.png" alt="" />
                <h1 class="masthead-heading">Biblioteca Tolkien</h1>
            </div>
            <div class="search-box"> 
                <input class="search-text" type="text">
                <a class="search-button" type="button" href="#">Pesquisar</a>
            </div>
        </header>
        <div class="books-tittle">Livros Recentes</div>
        <section class="page-section books" id="books">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal1">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">Contos Inacabados<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/06/84-livro-contos-inacabados-de-numenor-e-da-terra-media-j-r-r-tolkien-1591276663.png" alt="" />
                            <!--730X616-->
                        </div>
                    </div>
                    <!-- Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal2">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">Filhos de Húrin<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/01/35-pre-venda-livro-os-filhos-de-hurin-j-r-r-tolkien-poster-1579486225.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal3">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">Árvore e Folha<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/05/77-livro-arvore-e-folha-j-r-r-tolkien-1588360135.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal4">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">O Silmarillion<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/01/32-livro-o-silmarillion-j-r-r-tolkien-1579484587.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal5">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">O Hobbit<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/01/33-livro-a-queda-de-gondolin-j-r-r-tolkien-poster-33-1579485171.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="books-item mx-auto" data-toggle="modal" data-target="#booksModal6">
                            <div class="books-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="books-item-caption-content text-center text-white">Beren e Lúthien<i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.lojadobolseiro.com.br/uploads/images/2020/01/31-livro-a-queda-de-gondolin-j-r-r-tolkien-poster-31-1579484098.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                Endereço<br>R. Quintino Bocaiúva, S/N - Centro (Norte), Teresina - PI, 64000-060
            </div>
        </footer>
    </body>
</html>
